# Основные зависимости
pymediainfo>=7.0.1
ffmpeg-python>=0.2.0

# Для Telegram уведомлений (опционально)
python-telegram-bot>=20.0

# Для Windows службы (опционально)
pywin32>=305  # только для Windows

# Дополнительные утилиты
mutagen>=1.47.0  # для работы с метаданными
colorama>=0.4.6  # для цветного вывода в консоли